*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
app/build-out/
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
/docs/
**/.DS_Store
app/schemas/
/IMPROVEMENTS.md
/helper.txt
/docs/
/.kotlin